*{
    box-sizing: border-box;
    padding: 0;
}

body {
   padding: 0;
   margin: 0;
   background-color: #A83FD9;
}
h2{
    padding: 10px;
    text-align: center;
    color: white;
}
.login{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.msg-input,
.name {
    display: flex;
    justify-content: center;
    align-items: center;
}

#name{
    padding: 10px;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}

#name:focus{
    outline: none;
}

.formulario {
    background-color: #640D8C;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.577);
}
.status {
    width: 100%;
    max-width: 170px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.status span{
    margin-left: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    
}

.formulario{
    display: flex;
    flex-wrap: wrap;
}

.formulario label {
    display: inline-block;
    font-size: 20px;
    color: white;
    padding: 5px;
    width: 100%;
}
.formulario button,
.formulario #button-entrar {
    outline: none;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    color: black;
    padding: 10px;
    background-color: #D8FF63;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}
.formulario select{
    width: 100%;
    height: 30px;
    margin: 5px 0;
    padding: 5px 5px 5px 5px;
}

.formulario option{
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
}

.user{
    margin-top: 2%;
    background-color: #640D8C;
    max-width: 500px;
    height: 300px;
    width: 100%;
    margin: 50px auto;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.577);
    overflow-y: scroll;
}
.msg-user{
    display: flex;
    width: 100%;
    align-items: center;
}

.nome-user{
    width: 100%;
    padding: 10px;
    max-width: 170px;
}
#msg{
    width: 100%;
    padding: 5px;

}
#msg:focus{
    outline:none;
}

html ::-webkit-scrollbar {
    width: 10px;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #A83FD9;
  }
  html ::-webkit-scrollbar-track {
    background: #640D8C;
  }